@font-face {
    font-family: 'Pixelify Sans';
    src: URL('fonts/PixelifySans.ttf') format('truetype');
}

@font-face {
    font-family: 'Upheaval TT';
    src: URL('fonts/UpheavalTT.ttf') format('truetype');
}

@font-face {
    font-family: 'Terminus';
    src: URL('fonts/Terminus.ttf') format('truetype');
}

@font-face {
    font-family: 'Terminus Bold';
    src: URL('fonts/TerminusBold.ttf') format('truetype');
}

@media only screen and (max-width: 1300px) {
    .arcade-machine {
        margin-left: 0;
    }
}

@view-transition {
    navigation: auto;
}

::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-track {
    background: #00000000;
}

::-webkit-scrollbar-thumb {
    background: #888888;
}


::-webkit-scrollbar-button:single-button {
    display: block;
    border-style: solid;
    height: 13px;
    width: 16px;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 5px 7px 5px;
    border-color: transparent transparent #bbbbbb transparent;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    border-color: transparent transparent #777777 transparent;
}

::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 7px 5px 0 5px;
    border-color: #bbbbbb transparent transparent transparent;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
    border-color: #777777 transparent transparent transparent;
}

body {
    font-family: Pixelify Sans;
    text-align: center;
    background-color: hsl(0, 0%, 80%);
    background-image: url('bga.gif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: multiply;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}


h1 {
    margin-bottom: 0px;
}

.buttons {
    padding-inline: 20vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.buttons button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin: 10px 10px;
}

.buttons button img {
    height: 40px;
    transition: filter 0.3s ease;
}

.buttons button:hover img {
    filter: brightness(40%);
}

.buttons button.active img {
    filter: brightness(40%);
}

.chart-container {
    display: block;
    justify-items: center;
}

.chart-wrapper {
    position: relative;
    background: rgba(0, 0, 0, 0.75);
    border: 5px dashed #424242;
    padding-inline: 3rem;
}


.arcade-machine {
    position: fixed;
    bottom: 5vh;
    left: 3vw;
    margin-top: 50px;
    content: url("assets/arcade.png");
    max-height: 20vw;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    filter: saturate(0.6);
    transform: rotate(-1deg);
    z-index: 10;
}

.arcade-machine:hover {
    content: url("assets/arcade-highlight.png");
}

.pixel-audio {
    background-color: #000000d2;
    border: 4px dashed rgba(255, 255, 255, 0.342);
    padding: 1rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 190px;
}

.pixel-audio button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 50px;
    height: 20px;
    margin: 5px;
    font-family: Terminus Bold;
    font-size: 16px;
    color: #fff;
    text-align: center;
}

.pixel-audio button.play {
    background-color: #ff436d;
}


.pixel-audio button.pause {
    background-color: #636363;
}

.pixel-audio button.stop {
    background-color: #000000;
}

.pixel-audio audio {
    display: none;
}

.pixel-audio .volume-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 93%;
    height: 15px;
    background: #555;
    border-radius: 0px;
    outline: none;
    overflow: hidden;
    position: relative;
}

.pixel-audio .volume-slider::-webkit-slider-runnable-track {
    width: 90%;
    height: 20px;
    background: #555;
    border-radius: 5px;
}

.pixel-audio .volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 0%;
    cursor: pointer;
}

.pixel-audio .volume-slider::-moz-range-progress {
    background-color: #555;
    border-radius: 0px;
}

.pixel-audio .volume-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 0px;
    cursor: pointer;
}

.pixel-audio .volume-slider::-ms-fill-lower {
    background-color: #555;
    border-radius: 0px;
}

.pixel-audio .volume-slider::-ms-thumb {
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 0%;
    cursor: pointer;
}

.pixel-audio .volume-slider::before {
    content: 'GŁOŚNOŚĆ';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Terminus', sans-serif;
    font-size: 12px;
    color: #ffffffc0;
}

.countdown-timer-container {
    position: absolute;
    top: 2rem;
    right: 2rem;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    font-family: 'Terminus Bold', sans-serif;
    font-size: 20px;
    padding: 1rem;
    border: 4px dashed #424242;
    border-radius: 5px;
    text-align: center;
}

.countdown-title {
    font-size: 20px;
    margin-bottom: 5px;
}

.countdown-timer {
    font-size: 20px;
}